/* Your CSS here. */
h1 {
  font-family: "Roboto", Arial, sans-serif;
}

.container {
  margin: 2rem 0.5rem;
  padding: 1rem;
  background-color: #dac2b6;
}

.text-center {
  text-align: center;
}

#bearPhoto {
  height: 150px;
  width: 150px;
}

.container > p.content {
  text-align: left;
  font-family: "Georgia", Times;
}
